<div class="product-ruler">
    <div class="product-ruler__container">
        <div class="product-ruler__list">

            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-factory"><use xlink:href="#z-factory"></use></svg>
                    <span>Loja de <br />fábrica</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-recording"><use xlink:href="#z-recording"></use></svg>
                    <span>Gravação <br />manual</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-box"><use xlink:href="#z-box"></use></svg>
                    <span>Caixinha <br />personalizada</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-certified"><use xlink:href="#z-certified"></use></svg>
                    <span>Certificado <br />de Garantia</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-wedding"><use xlink:href="#z-wedding"></use></svg>
                    <span>Alianças <br />sem solda</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-stone"><use xlink:href="#z-stone"></use></svg>
                    <span>Gravação de pedra <br />feita em microscópio</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-send"><use xlink:href="#z-send"></use></svg>
                    <span>Envio com <br />seguro</span>
                </a>
            </div>
            <div class="product-ruler__item">
                <a href="#" class="product-ruler__link">
                    <svg class="ico z-security"><use xlink:href="#z-security"></use></svg>
                    <span>Compra <br />segura</span>
                </a>
            </div>

            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            <div class="product-ruler__item product-ruler__item--empty"></div>
            
        </div>
    </div>
</div>