<div class="helps">
    <div class="helps__container">
        <div class="helps__header">
            <h3 class="helps__title on">
                <span>Dúvidas</span>
                <span>Frequentes</span>
            </h3>
        </div>
        <div class="helps__main">
            <div class="helps__tabs">

                <div class="helps__tab">
                    <div class="helps__ico">
                        <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                        <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
                    </div>
                    <span>1. É seguro comprar online na Maranatha?</span>
                </div>
                <div class="helps__content">
                    <div class="std">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

                <div class="helps__tab">
                    <div class="helps__ico">
                        <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                        <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
                    </div>
                    <span>2. Posso comprar na loja em Loja Física? O preço é o mesmo?</span>
                </div>
                <div class="helps__content">
                    <div class="std">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

                <div class="helps__tab">
                    <div class="helps__ico">
                        <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                        <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
                    </div>
                    <span>3. Qual o prazo de fabricação e entrega? O frete é gratuito?</span>
                </div>
                <div class="helps__content">
                    <div class="std">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

                <div class="helps__tab">
                    <div class="helps__ico">
                        <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                        <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
                    </div>
                    <span>4. Como saber a minha medida do aro? E se eu errar? A medida influencia nos preços?</span>
                </div>
                <div class="helps__content">
                    <div class="std">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="helps__footer">
            <a href="#">Ver mais</a>
        </div>
    </div>
</div>