<div class="ruler">
    <div class="ruler__container">
        <div class="ruler__item">
            <svg class="ico ruler-security"><use xlink:href="#ruler-security" /></svg>
            <div>
                <strong>Compra Segura</strong>
                <span>Site Blindado</span>
            </div>
        </div>

        <div class="ruler__item">
            <svg class="ico ruler-change"><use xlink:href="#ruler-change" /></svg>
            <div>
                <strong>Troca Grátis</strong>
                <span>até 30 dias</span>
            </div>
        </div>

        <div class="ruler__item">
            <svg class="ico ruler-card"><use xlink:href="#ruler-card" /></svg>
            <div>
                <strong>Compre em até</strong>
                <span>10x sem juros</span>
            </div>
        </div>

        <div class="ruler__item">
            <svg class="ico ruler-certified"><use xlink:href="#ruler-certified" /></svg>
            <div>
                <strong>Certificado</strong>
                <span>de Garantia</span>
            </div>
        </div>

        <div class="ruler__item">
            <svg class="ico ruler-factory"><use xlink:href="#ruler-factory"/></svg>
            <div>
                <strong>Fabricação</strong>
                <span>Própria</span>
            </div>
        </div>
    </div>
</div>