<div class="top-head">
    <div class="top-head__container">
        <div class="top-head__contact">
            <strong>Atendimento: </strong>
            <span>0800 777 2578</span>
        </div>
        <div class="top-head__newsletter">
        {{widget type="interface/widget_newsletter" template="interface/widgets/newsletter.phtml" identificador="topnew" texto="<strong>Newsletter: </strong>" label_email="E-mail:" placeholder_email="E-mail" texto_botao="Cadastrar" exibir_nome="1" label_nome="Nome:" placeholder_nome="Nome"}}
        </div>
        <div class="top-head__socials">
            <strong>Sobre a</strong>
            <span>Maranatha</span>
            <ul>
                <li> 
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li> 
                    <a href=""><i class="fab fa-youtube"></i></a>
                </li>
                <li> 
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>