{{widget type="interface/widget_scripts" template="interface/widgets/scripts.phtml" script_id="produto-regua"}}

<div class="prod__video">

</div>

<div class="prod__descriptions">
    <div class="prod__descriptions-header">
        <h3 class="on">
            <span>Detalhes do</span>
            <span>Produto</span>
        </h3>
    </div>
    <div class="prod__descriptions-content">
        <div class="col1">
            <div class="std">@descricao</div>
        </div>
        <div class="col2">
            <div class="std">@descricao</div>
        </div>
    </div>
</div>

@compre-junto

@avaliacoes(form)

{{widget type="interface/widget_scripts" template="interface/widgets/scripts.phtml" script_id="produto-ajuda"}}