color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #e6af50
color1_bg_hover = #e49f29
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #2a2a2a
color2_bg_hover = #202020
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #00b9b5
button_bg_hover = #01a7a3
// images
header_bg = '/media/interface/images/header.jpg'
factory = '/media/interface/images/nossa-fabrica.jpg'
more = '/media/interface/images/more.png'
less = '/media/interface/images/less.png'
check = '/media/interface/images/check.png'
