.configurable
    margin-top: 15px
    --text-color: #4d4d4d
    --text-color-two: #999999

    &:before
        color: var(--text-color)
        content: 'Personalize suas alianças'
        text-transform: uppercase
        font-weight: semibold
        font-size: 13px
        opacity: 1

    &__option
        display: flex
        align-items: center

    &__caption
        display: inline-block
        margin: 0 0 0 15px

        label
            font-size: 0

            span
                color: var(--text-color-two)
                text-transform: uppercase
                font-weight: regular
                font-size: 13px

    &__content
        order: -1

    .configurable-swatch-list
        a
            position: relative
            min-width: 0
            box-shadow: none

            &:before
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: url(check) no-repeat center center
                content: ''
                opacity: 0

        img
            width: 25px
            height: 25px
            border-radius: 50%
            object-fit: cover

        .selected
            a:before
                opacity: 1

            img
                box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ccc

    @media media-max-sm
        text-align: center

        .configurable__content
            margin: 0 auto