.header
    @media media-min-lg
        z-index: 200
        align-items: flex-end
        margin-bottom: 0 !important
        padding: 0
        height: 90px
        background: #fff url(header_bg) top center
        transition: all .2s ease

        .scrolling &
            align-items: center
            padding: 10px 0
            max-height: 80px

    &-container
        position: sticky
        top: 0
        background: url(header_bg) top center
        box-shadow: none

        .scrolling:not(.scrolling--up) &
            @media media-min-lg
                border-bottom: solid 1px var(--primary)
