.mymenu
    .footer &
        --text-color: #5a5a5a

        .a--0
            color: var(--text-color)
            font-weight: regular
            font-size: 14px

        .li--0
            margin-bottom: 15px