.options
    --color-title: #999999
    --color-text: #666666
    --color-border: #faeddb

    &
        position: relative
        margin: 0
        border-top: solid 1px var(--color-border)

    &:before
        padding: 10px 0 10px 25px
        background: url(less) no-repeat left center
        color: var(--color-title)
        content: 'Escolha o Tamanho'
        text-transform: uppercase
        font-weight: regular
        font-size: 13px
        line-height: 1
        opacity: 1

    &--select
        + .options--select
            @media (min-width: 1124px)
                .options
                    &__caption
                        &:before
                            position: absolute
                            left: 50%
                            margin-top: 5px
                            width: 20%
                            height: 1px
                            background: var(--color-border)
                            content: ''
                            transform: translateX(-50%)

                        &:after
                            position: absolute
                            left: 50%
                            display: flex
                            justify-content: center
                            align-items: center
                            margin-top: -17px
                            width: 16px
                            height: 16px
                            border-radius: 2px
                            background: var(--primary)
                            color: var(--primary-contrast)
                            content: '1'
                            font-weight: regular
                            font-size: 10px
                            transform: translateX(-50%)

                    &__content
                        position: static

                        &:before
                            position: absolute
                            top: 25px
                            left: 50%
                            width: 55px
                            color: var(--color-text)
                            content: 'escolha o tamanho'
                            text-align: center
                            font-weight: regular
                            font-size: 10px
                            transform: translateX(-50%)

        .options-list
            display: flex
            flex-flow: row wrap
            padding: 5px

            @media media-max-lg
                justify-content: center

            [type=radio]
                position: absolute
                opacity: 0

                &:checked + .label label
                    border-color: var(--primary)

            label
                display: flex
                justify-content: center
                align-items: center
                width: 30px
                height: 30px
                border: solid 1px var(--color-border)
                border-radius: 50%
                color: var(--color-text)
                font-weight: regular
                font-size: 11px
                cursor: pointer

                &:hover
                    border-color: var(--primary)

            li
                padding: 5px
                min-width: 0

                .label
                    display: inline-block

    &--text
        .input-text
            height: 43px
            border: solid 1px rgba(0, 0, 0, .1)
            border-radius: 0
            box-shadow: none

        + .options--text
            @media (min-width: 1124px)
                .options
                    &__caption
                        &:before
                            position: absolute
                            left: 50%
                            margin-top: 5px
                            width: 20%
                            height: 1px
                            background: var(--color-border)
                            content: ''
                            transform: translateX(-50%)

                        &:after
                            position: absolute
                            left: 50%
                            display: flex
                            justify-content: center
                            align-items: center
                            margin-top: -17px
                            width: 16px
                            height: 16px
                            border-radius: 2px
                            background: var(--primary)
                            color: var(--primary-contrast)
                            content: '2'
                            font-weight: regular
                            font-size: 10px
                            transform: translateX(-50%)

                    &__content
                        position: static

                        &:before
                            position: absolute
                            top: 25px
                            left: 50%
                            width: 55px
                            color: var(--color-text)
                            content: 'escolha a gravação'
                            text-align: center
                            font-weight: regular
                            font-size: 10px
                            transform: translateX(-50%)

    &__caption
        position: static
        color: var(--color-text)
        text-align: center
        text-transform: uppercase
        font-weight: bold
        font-size: 12px
        opacity: 1

    &__option
        flex: '0 1 %s' % 250px
        padding-right: 0
        padding-left: 0
        min-width: 0

    &__box
        @media (min-width: 1124px)
            position: relative
            display: flex
            justify-content: space-between