.owl
    &-carousel
        --color: #c3c3c3

    &-prev
        right: auto
        left: 0

    &-next
        right: 0
        left: auto

    &-prev, &-next
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 48px
        height: 48px
        border-radius: 2px
        background: none
        box-shadow: none
        color: var(--color)
        text-indent: 0
        opacity: 1

        &:hover
            background: none
            color: var(--primary)
            opacity: 1

        &:before
            font-size: 15px

@media (min-width: viewport + 100)
    .owl
        .products &, .instagram &, .brands &
            &-next
                right: -50px

            &-prev
                left: -50px

        .products &-pagination
            display: none