.search
    --color: #4e4e4e

    &
        min-width: 0

    .header &
        @media media-min-sm
            flex: '0 1 %s' % 530px
            border-bottom: solid 1px rgba(0, 0, 0, .1)

    &__input[type=search]
        &::placeholder
            color: var(--color)
            font-weight: light
            font-size: 14px

        &:focus::placeholder
            color: transparent

        @media media-min-sm
            padding: 0
            height: 55px
            border: 0
            border-radius: 0
            background: none
            box-shadow: none

    &__button
        @media media-min-sm
            padding: 0
            width: 50px
            height: 55px
            border-radius: 0
            background: none
            box-shadow: none
            color: var(--primary)
            text-align: right
            font-size: 14px

            &:hover
                background: none
                color: var(--secundary)

        @media media-max-sm
            background: none
            color: var(--primary)

            &:hover
                background: none
                color: var(--primary)
