.sharing-links
    --color-icon: #cccccc

    &
        margin: 20px auto
        padding: 10px 10px 0
        max-width: 100%
        width: 270px
        border: solid 1px rgba(0, 0, 0, .1)

    &:before
        display: block
        padding-bottom: 10px
        color: var(--text-color)
        content: 'Compartilhe'
        text-align: center
        font-weight: regular
        font-size: 10px

    a
        background: none
        color: var(--color-icon)

        .ico
            width: 25px
            height: 25px
            fill: currentColor

    .list
        justify-content: center

    .fb-share a:hover
        color: #3b5998

    .tt-share a:hover
        color: #00aced

    .gp-share a:hover
        color: #dd4b39

    .wa-share a:hover
        color: #4dc247

    .pt-share a:hover
        color: #cb2027

    .tb-share a:hover
        color: #32506d

    .lk-share a:hover
        color: #007bb5