.socials
    .footer-head &
        &__list
            justify-content: center

        &__svg
            height: 24px

            &, path
                fill: currentColor

                .play-fill
                    color: var(--primary-contrast)