.opc
    .header
        justify-content: center
        background: #fff

        .logo
            flex: 0 0 auto
            margin: 0

    .header-container
        background: #fff

        .myaccount
            display: none

    @media media-max-lg
        .header
            justify-content: center

            .logo
                flex: 0 0 auto
                margin: 0

        .header-container
            padding: 15px 0
            background: #fff
